html, body {
    height:100%;
}

body {
  min-height:100%;
  margin:0;
  padding-top: 5rem;
}

a, a:hover, a:focus{
  color:#222222;
  text-decoration: none;
}

h2{
  color:#222222;
  font-size: 2em;
}

h3{
  color: #56585c;
  font-size: 1em;
}

h4{
  color: #fff;
  font-size: 1em;
}

.fa{
    margin: 0.5em;
}

.numPage{
  margin: 1em;
  font-size: 2em;
}

.row{
  background: #fff;
  border-radius: 2px;
  padding: 1em;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin:1em;
}

.btn-outline-secondary, .btn-outline-secondary:hover{
  background-color:#181d23;
}

.form-control:focus {
  border-color: grey;
}

.inputMargin {
  margin:1em;
}

.bg-inverse {
  background-color: #181d23;
}
